
app/.DS_Store
app/src/.DS_Store
app/src/androidTest/.DS_Store
app/src/androidTest/java/.DS_Store
app/src/androidTest/java/com/.DS_Store
app/src/androidTest/java/com/example/.DS_Store
app/src/main/java/.DS_Store
app/src/main/java/com/.DS_Store
app/src/main/java/com/example/.DS_Store
app/src/main/java/com/example/worldskillsproject/.DS_Store
app/src/main/res/.DS_Store
app/src/test/.DS_Store
app/src/test/java/.DS_Store
app/src/test/java/com/.DS_Store
app/src/test/java/com/example/.DS_Store
gradle/.DS_Store
